.site-header{
    background-color: #000;
    .nav-link{
        color: #FFFFFF !important;
        font-weight: 300;
        &:hover{
            color: $red-primary !important;
        }
    }
}